@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";






@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0360D9;
  --color-secondary: #E1EEFF;
    --color-accent: #2E2E2E;
    --color-neutral: #5C5A5A;
}


.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
